html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed!important;
}
/* To prevent long-press that will bring up copy-paste dialog. */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  touch-callout: none;
  outline: 0; /* To prevent blue-box outline after click: http://stackoverflow.com/questions/21719306/getting-rid-of-a-blue-box-around-button-when-pressed */
}
textarea, input {
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
body {
  background-color: rgb(250,250,250);
}

#clickToDragPiece {
  transform: scale(1.6, 1.6);
}

.slowlyDrop {
  animation: slowlyDrop 0.5s ease-out;
}
@keyframes slowlyDrop {
  from {transform: scale(1.6, 1.6);}
  to {transform: scale(1, 1);}
}

.explodePiece {
  z-index: 5;
  animation: explodePiece 0.5s cubic-bezier(0.420, 0.000, 1.000, 0.830) forwards;
}
@keyframes explodePiece {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(3, 3) rotate(10deg);
  }
}

.buttonArea {
  position: absolute;
  display: block;
  top:80%;
  left:0;
  width:100%;
  height: 20%;
}

.text {
  text-align: center;
  text-transform: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
}

#colorArea button {
  float: left;
  /*margin: 0 2% 2% 2%;*/
  margin : 0;
  padding: 5px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-appearance: button;
  overflow: visible;
  border-radius: 6px;
  white-space: nowrap;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid;
  border-radius: 4px;
}

canvas:active, canvas:focus { cursor: crosshair; }

.frame {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  margin: 0px 3px;
  border: 1px solid lightgrey;
}

.letter {
  height: 24px;
  width: 24px;
}

#instruction_button {
  top: 0px;
  right: 0px;
  position: absolute;
  height: 18px;
  margin: 0px auto;
  background-color:skyblue;
  border: transparent;
}

#instructions {
  z-index: 1;
  padding: 20px;
  background-color: rgb(220,240,255);
  font-size: 12px;
  top: 25px;
  right:0;
  bottom:0;
  left:0;
  position: absolute;
  border-radius: 20px;
}

#instructions li {
  text-align: left;
  list-style-type: circle;
  padding: 2px;
}

#message {
  margin-top: 10px;
  font-size: 10px;
  text-align: center;
  background-color: rgb(220,240,255);
}

#end_game_message {
  margin-top: 10px;
  font-size: 10px;
  text-align: center;
  background-color: red;
}

#wordArea {
  display: inline;
  text-align: center;
  /*border: 1px solid purple;*/
}

#answerArea {
  text-align: center;
  /*border: 1px solid purple;*/
}

#title {
  margin-bottom: 10px;
  text-align: center;
  background-color:  rgb(220,240,255);
}

#submit {
  right: 0;
  top: 30px;
  position: absolute;
  background-color:skyblue;
  border: transparent;
}

#Play {
  right: 0;
  top: 30px;
  position: absolute;
  background-color:skyblue;
  border: transparent;
}

.area {
  background: lightgrey;
  height: 40px;
  width: 100%;
  border-radius: 5px;
}

#colorArea {
  width: 100%;
}

.colorOptions {
  margin-left: 3%;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transform: translateY(33%);
	width: 9.2%;
	height: 66%;
  border-radius: 50%;
}

.sizeOptions {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transform: translateY(33%);
	border-style: solid;
	margin-top: 3px;
	border-color: #cccccc;
  border-radius: 50%;
  background:white;
  margin-left: 8%;
}
	
.selectedColor {
	border-style: solid;
	border-width: 3px;
	border-color: black;
	border-radius: 5px;
}

#canvas {
  display: block;
  margin: 10px auto;
	border:2px;
	border-color: black;
	border-style:solid;
  border-radius: 5px;
}

.stroke_selected {
	border-color: black;
}