<!DOCTYPE html>
<!-- build:[manifest] index.min.appcache -->
<html lang="en" ng-app="myApp" ng-strict-di>
<!-- /build -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>DrawSomething</title>
    <meta name="description" content="DrawSomething game">
    <link rel="shortcut icon" type="image/x-icon" href="data:image/x-icon;,">
    <!-- Suppress browser request for favicon.ico -->

    <!-- To ensure CSS files are downloaded in parallel, always include external CSS before external JavaScript. -->
    <!-- build:[href] css/everything.min.css -->
    <link rel="stylesheet" type="text/css" href="css/game.css">
    <!-- /build -->

    <!-- build:js js/everything.min.js -->
    <script src="lib/angular.js"></script>
    <script src="lib/turnBasedServices.3.js"></script>
    <script src="ts_output_readonly_do_NOT_change_manually/src/gameLogic.js"></script>
    <script src="ts_output_readonly_do_NOT_change_manually/src/game.js"></script>
    <!-- /build -->
</head>

<body ng-cloak>
    <div id="gameArea">
        <div class="header">
            <div id="title">Draw Something</div>
            <button ng-click="game.toggleInstructions()" id="instruction_button">Help</button>
            <button ng-click="" id="draw_button">Start Drawing</button>
        </div>
        
        <div ng-show="game.isInstructionsShowing" id="instructions">
                <h3 style="color: blue">Instructions</h3>
                <p>The goal of Draw Something Game is to let the guess user correctly guess the given word from the drawing
                    of the draw user.
                </p>
                <h4 style="color: purple">Draw Uer Instruction:</h4>
                <li>Draw the given word in canvas area</li>
                <li>You could choose color and strock thickness</li>
                <h4 style="color: green">Guess Uer Instruction:</h4>
                <li>According to the drawing, please guess the word<br>
                    <li>Put letters into the following blanks<br>
                        <li>Blank number is exactly the length of answer word<br>
                            <li>Click letter under the canvas area to put it into blank<br>
                                <li>Click the last filled in letter in blank to put letter back<br>
                                    <li>If guess word is wrong, all blanks will be vacated<br>
            </div>

        <div id="answerArea">
            <div ng-show="!game.turn">
                Word: {{game.get_answer()}}
            </div>

            <div ng-show="game.turn">
                <div ng-repeat='num in game.get_answer_nums()' class="frame" id="u{{num}}"></div>
            </div>
        </div>

        <div id="message"></div>
        <div id="end_game_message"></div>

        <div id="canvasArea">
            <div ng-show="true">
                <canvas id="canvas"></canvas>
            </div>
            <div ng-show="!game.turn && !game.isInstructionsShowing">
                <button ng-click="game.drawFinish()" id="submit">Submit<button>
            </div>
        </div>

        <!--place backup words-->
        <div id="wordArea">
            <div ng-show="game.turn">
                <div class="block">
                    <div ng-repeat="col in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]" class="frame" id="d{{col}}">
                        <img ng-src="allLetters/Letter-{{game.getLetter(col)}}-dg-icon.png" class="letter" id="{{col}}" onclick="game.imgClicked(this)"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>